.statement-select {
  > select {
    border: 1px solid #333;
    background: transparent;
    border-radius: 0;
    outline: none;
  }
}

.loader {
  position: fixed;
  color: #fff;
  background: rgba(0,0,0,.7);
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.driver-payments {
  border: 1px solid #333;
  border-top: none;
  padding: 5px 10px;

  &__photo {
    width: 200px;
  }
}

.driver-payments-list {

  table {
    width: 100%;

    th, td {
      text-align: left;
      padding: 5px 20px;
    }
  }
}

.driver-weekly-table {
  overflow: hidden;
  overflow-x: auto;
}

.serach-driver {
  text-align: center;

  input {
    text-align: left ;
    // width: 200px;
  }

  button {
    margin-top: 10px;
    padding: 10px 15px;
  }
}

.weekly-dashboard {
  background: #f1f1f1;
  border: 1px dashed #333;
  padding: 10px 15px;

  table {
    width: auto;
  }

  .table td, .table th, table td, table th {
    padding: 0;
  }

  .progress {
    &-low {
      color: red;
    }

    &-mid {
      color: orange;
    }

    &-ok {
      color: forestgreen;
    }
  }
}

.payments-list {
  overflow: hidden;
  overflow-x: auto;
}

.wrapper{
  margin:0 auto 10px;
  width: auto;
  max-width: 835px;
  margin-bottom: 25px;
}



fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.wrapper-login {
  margin-bottom: 15px;
  border: #000000
}
.wrapper-login:after {
  clear: both;
}
.wrapper-login:before {
  content: " ";
  display: table;
}

menu{
  display: block;
}

.infinity-menu-node-container {
    width: 100%;
    background-color: #898b8f;
    color: white;
    height: 40px;
    padding-left: 10px;
    padding-top: 20px;
    border-bottom: solid 1px #494949;
  }
  
  .infinity-menu-node-container:hover {
    background-color: #494949;
  }
  
  .infinity-menu-leaf-container {
    width: 100%;
    background-color: #5e6063;
    color: white;
    height: 30px;
    padding-left: 20px;
    padding-top: 15px;
    border-bottom: solid 1px #494949;
  }
  
  .infinity-menu-leaf-container:hover {
    background-color: #494949;
  }
  
  .infinity-menu-load-more-container {
    width: 100%;
    background-color: white;
    color: #5e6063;
    height: 30px;
    padding-left: 20px;
    padding-top: 15px;
    text-align: center;
    list-style-type: none;
  }
  
  .infinity-menu-load-more-container:hover {
    background-color: #c8c8c8;
  }

