.statement-select {
  padding: 10px 5px;

  > select {
    border: 1px solid #333;
    background: transparent;
    border-radius: 0;
    outline: none;
  }
}

.loader {
  position: fixed;
  color: #fff;
  background: rgba(0,0,0,.7);
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.driver-payments {
  border: 1px solid #333;
  border-top: none;
  margin: 0 auto;
  width: 900px;
  padding: 5px 10px;

  &__photo {
    width: 200px;
  }
}

.driver-payments-list {
  table {

    th, td {
      text-align: left;
      padding: 5px 20px;
    }
  }
}

.serach-driver {
  text-align: center;

  input {
    text-align: center;
    width: 200px;
  }

  button {
    margin-top: 10px;
    padding: 10px 15px;
  }
}